body
{
  margin:0;
}

.aside-menu
{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  margin:0;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  padding: 0 24px;
  padding-top: 18.73px;
}

.aside-header
{
  width: 320px;
  height: 51px;
  margin:0;
  display: flex;
  align-items: center;
  gap:16.73px;
}

.aside__link,
.aside__link
{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.btn-close
{
  
  background-image: url('img/burger-close.png');
  background-color: white;
  border: none;
}

.link-logo
{
  width: 97px;
  height: 51px;
  background-image: url('img/logo.svg');
  background-color: white;
  border: none;
}

.aside__link:last-child
{
  margin-left: auto;
}

.link-search
{
  background-image: url('img/search.png');
  background-color: white;
  border: none;
}

.aside-menu__nav
{
  margin: 52px 0 auto 0;
  padding:0;
  
}

.nav-list
{
  list-style: none;
}

.nav-list__item {
  display: block;
  margin-bottom: 32px;
  position:relative;
  text-decoration:none;
  color:black;
}

.nav-list__item:hover {
  color: #7E7E82;
  
}


.nav-list__item:hover::before {
  content: '';
  background-image: url('img/highlight.svg');
 
  width:4px;
  height: 32px;
  position:absolute;
  left:-24px;
  top:-5px;
    }

.aside-menu-footer
{
  height: 224px;
  
}

.aside-menu__link {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.aside-menu-footer__txt-lang
{
  display: inline-block;

}

.link-call 
{
  background-image: url('img/call.svg');
  margin: 8px;
  background-color: white;
  border: none;
}

.link-chat {
  background-image: url('img/chat.svg');
  margin: 8px;
  background-color: white;
  border: none;
}

.link-profile 
{
  background-image: url('img/profile.svg');
  margin: 8px;
  background-color: white;
}


.aside-menu-footer__txt-lang:hover {
  color: #7E7E82;
 
}